# Teste com período de teste e comparação futura

In [1]:
import pandas as pd

In [2]:
dftab = pd.read_csv('tabelaTrans.csv', index_col=0)
dftab

,1993-01-01 00:00:00.000000000,1993-01-07 00:51:42.672999775,1993-01-13 01:43:25.345999550,1993-01-19 02:35:08.018999325,1993-01-25 03:26:50.691999100,1993-01-31 04:18:33.364998875,1993-02-06 05:10:16.037998650,1993-02-12 06:01:58.710998425,1993-02-18 06:53:41.383998200,1993-02-24 07:45:24.056997975,...,1998-10-26 15:22:20.895920800,1998-11-01 16:14:03.568920575,1998-11-07 17:05:46.241920350,1998-11-13 17:57:28.914920125,1998-11-19 18:49:11.587919900,1998-11-25 19:40:54.260919675,1998-12-01 20:32:36.933919450,1998-12-07 21:24:19.606919225,1998-12-13 22:16:02.279919000,1998-12-19 23:07:44.952918775
2378,1,0,0,1,1,1,1,0,1,1,...,1,1,0,0,0,1,1,0,0,1
576,1,1,0,0,1,0,1,0,0,1,...,1,0,1,0,0,1,0,1,0,0
704,1,1,0,0,1,0,1,0,0,1,...,1,1,1,0,0,1,1,1,0,1
3818,1,1,0,0,1,0,1,0,0,1,...,1,0,1,0,0,1,0,1,0,0
1972,1,0,0,0,1,0,1,0,0,1,...,1,1,1,0,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
3958,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,1,1,0,0,1
777,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
3276,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,0,0
1573,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,0,1,0,1

## Data alvo (a ser ajustada para o formato correto, se necessário)

In [3]:
data_alvo = pd.to_datetime('1998-12-01')
data_alvo

Timestamp('1998-12-01 00:00:00')

## Converter as colunas do DataFrame para datetime

In [4]:
datas_colunas = pd.to_datetime(dftab.columns)
dftab.columns = datas_colunas
datas_colunas

DatetimeIndex([          '1993-01-01 00:00:00',
               '1993-01-07 00:51:42.672999775',
               '1993-01-13 01:43:25.345999550',
               '1993-01-19 02:35:08.018999325',
               '1993-01-25 03:26:50.691999100',
               '1993-01-31 04:18:33.364998875',
               '1993-02-06 05:10:16.037998650',
               '1993-02-12 06:01:58.710998425',
               '1993-02-18 06:53:41.383998200',
               '1993-02-24 07:45:24.056997975',
               ...
               '1998-10-26 15:22:20.895920800',
               '1998-11-01 16:14:03.568920575',
               '1998-11-07 17:05:46.241920350',
               '1998-11-13 17:57:28.914920125',
               '1998-11-19 18:49:11.587919900',
               '1998-11-25 19:40:54.260919675',
               '1998-12-01 20:32:36.933919450',
               '1998-12-07 21:24:19.606919225',
                  '1998-12-13 22:16:02.279919',
               '1998-12-19 23:07:44.952918775'],
              dtype='datetime64[ns]', length=362, freq=None)

## Encontrar a coluna mais próxima da data alvo

In [5]:
coluna_mais_proxima = datas_colunas[(datas_colunas >= data_alvo)].min()
coluna_mais_proxima

Timestamp('1998-12-01 20:32:36.933919450')

## Selecionar todas as colunas a partir da data mais próxima

In [6]:
colunas_selecionadas = datas_colunas[datas_colunas >= coluna_mais_proxima]
colunas_selecionadas

DatetimeIndex(['1998-12-01 20:32:36.933919450',
               '1998-12-07 21:24:19.606919225',
                  '1998-12-13 22:16:02.279919',
               '1998-12-19 23:07:44.952918775'],
              dtype='datetime64[ns]', freq=None)

## Filtrar o DataFrame para incluir apenas essas colunas

In [7]:
df_selecionado = dftab[colunas_selecionadas]
df_selecionado

,1998-12-01 20:32:36.933919450,1998-12-07 21:24:19.606919225,1998-12-13 22:16:02.279919000,1998-12-19 23:07:44.952918775
2378,1,0,0,1
576,0,1,0,0
704,1,1,0,1
3818,0,1,0,0
1972,1,1,1,1
...,...,...,...,...
124,1,1,1,0
3958,1,0,0,1
777,1,1,1,0
3276,1,1,0,0
1573,0,1,0,1

## Criando uma serie com "não churn" se houver pelo menos um valor 1 na linha, caso contrário "churn"

In [8]:
resultado = pd.Series( df_selecionado.apply(lambda row: "não churn" if 1 in row.values else "churn", axis=1), name='resultado')
resultado

2378    não churn
576     não churn
704     não churn
3818    não churn
1972    não churn
          ...
124     não churn
3958    não churn
777     não churn
3276    não churn
1573    não churn
Name: resultado, Length: 4500, dtype: object

In [9]:
dfC = pd.read_csv('churnResultadoTeste.csv', index_col=0)
dfC

        id  churnLinear  churnExponencial_2  churnExponencial_e  churnRecente
0     2378     0.363300            0.447457            0.351348      0.346369
1      576     0.447830            0.419347            0.331906      0.452514
2      704     0.319136            0.387097            0.320250      0.307263
3     3818     0.386128            0.419354            0.331906      0.365922
4     1972     0.427771            0.387099            0.320250      0.430168
...    ...          ...                 ...                 ...           ...
4495   124     0.176044            0.004032            0.000580      0.245614
4496  3958     0.384150            0.193548            0.117813      0.403509
4497   777     0.188748            0.001099            0.000082      0.263158
4498  3276     0.226190            0.129032            0.086129      0.267857
4499  1573     0.436717            0.388096            0.320329      0.464286

[4500 rows x 5 columns]

In [10]:
df_merged = dfC.merge(resultado, left_on="id", right_index=True)
df_merged

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
0,2378,0.363300,0.447457,0.351348,0.346369,não churn
1,576,0.447830,0.419347,0.331906,0.452514,não churn
2,704,0.319136,0.387097,0.320250,0.307263,não churn
3,3818,0.386128,0.419354,0.331906,0.365922,não churn
4,1972,0.427771,0.387099,0.320250,0.430168,não churn
...,...,...,...,...,...,...
4495,124,0.176044,0.004032,0.000580,0.245614,não churn
4496,3958,0.384150,0.193548,0.117813,0.403509,não churn
4497,777,0.188748,0.001099,0.000082,0.263158,não churn
4498,3276,0.226190,0.129032,0.086129,0.267857,não churn
4499,1573,0.436717,0.388096,0.320329,0.464286,não churn

In [11]:
df_merged.describe()

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente
count,4500.000000,4500.000000,4.500000e+03,4.500000e+03,4500.000000
mean,2786.067556,0.375149,2.998309e-01,2.447943e-01,0.393662
std,2313.811984,0.105670,1.472747e-01,1.393795e-01,0.100085
min,1.000000,0.075795,1.164189e-10,8.104628e-15,0.141243
25%,1182.750000,0.311064,2.328860e-01,1.309652e-01,0.328571
50%,2368.000000,0.366322,3.167843e-01,2.646065e-01,0.382870
75%,3552.250000,0.427396,3.870968e-01,3.202502e-01,0.441860
max,11382.000000,0.973256,1.000000e+00,1.000000e+00,0.934783

In [18]:
df_merged[df_merged["churnLinear"] >= 0.60]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
61,459,0.906520,1.000000,1.000000,0.861972,churn
80,1649,0.679414,0.483840,0.363591,0.646893,churn
84,2566,0.796881,0.483871,0.363591,0.796610,churn
273,1721,0.801960,0.741935,0.765878,0.800000,churn
409,2583,0.632135,0.419355,0.331906,0.679525,não churn
...,...,...,...,...,...,...
4454,315,0.822404,0.967742,0.988344,0.833333,não churn
4467,3616,0.806780,0.935484,0.968315,0.796610,não churn
4471,2892,0.806780,0.935484,0.968315,0.796610,não churn
4475,758,0.800117,0.870968,0.913871,0.793103,churn
4489,727,0.796733,0.741935,0.765878,0.807018,churn

In [17]:
df_merged[df_merged["churnLinear"] <= 0.40]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
0,2378,0.363300,0.447457,0.351348,0.346369,não churn
2,704,0.319136,0.387097,0.320250,0.307263,não churn
3,3818,0.386128,0.419354,0.331906,0.365922,não churn
5,2632,0.344143,0.387097,0.320250,0.318436,não churn
6,1539,0.329469,0.138983,0.087916,0.340782,não churn
...,...,...,...,...,...,...
4494,845,0.335753,0.036290,0.012237,0.368421,não churn
4495,124,0.176044,0.004032,0.000580,0.245614,não churn
4496,3958,0.384150,0.193548,0.117813,0.403509,não churn
4497,777,0.188748,0.001099,0.000082,0.263158,não churn
4498,3276,0.226190,0.129032,0.086129,0.267857,não churn

In [19]:
df_merged[df_merged["churnLinear"] >= 0.80]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
61,459,0.906520,1.000000,1.000000,0.861972,churn
273,1721,0.801960,0.741935,0.765878,0.800000,churn
459,3888,0.864849,1.000000,1.000000,0.838323,churn
463,2029,0.940870,1.000000,1.000000,0.892216,churn
887,799,0.931801,1.000000,1.000000,0.881410,churn
914,838,0.814023,0.483871,0.363591,0.809677,churn
928,2180,0.913895,1.000000,1.000000,0.867314,churn
1572,3643,0.805230,0.483886,0.363592,0.803347,churn
1815,1720,0.973256,1.000000,1.000000,0.925581,churn
1827,2969,0.803651,0.967742,0.988344,0.803738,não churn
2012,3866,0.829206,0.478851,0.362933,0.812183,não churn
2039,138,0.903146,0.967742,0.988344,0.881443,não churn
2118,2481,0.800912,0.935484,0.968315,0.797872,não churn
2178,3490,0.819375,0.935545,0.968317,0.808743,não churn
2235,3814,0.919340,1.000000,1.000000,0.870787,churn
2334,2217,0.800678,0.935484,0.968315,0.797688,não churn
2337,262,0.898213,0.935484,0.968315,0.878613,churn
2410,620,0.803829,0.967742,0.988344,0.798817,não churn
2411,466,0.810442,0.967742,0.988344,0.804734,não churn
2513,236,0.876597,0.500000,0.367879,0.842424,churn
2520,1028,0.827273,0.998992,0.999921,0.817073,churn
2538,4008,0.804361,0.935484,0.968315,0.804878,não churn
2570,708,0.826858,0.870968,0.913871,0.814815,churn
2643,3816,0.802830,0.967742,0.988344,0.798742,não churn
2815,3668,0.805298,0.967742,0.988344,0.800000,churn
2838,488,0.803043,0.967742,0.988344,0.798658,não churn
2843,587,0.822640,0.997984,0.999787,0.818792,não churn
2852,2706,0.801923,0.935484,0.968315,0.797297,não churn
2949,869,0.941804,1.000000,1.000000,0.889655,churn
3072,1563,0.963830,1.000000,1.000000,0.914286,churn
3113,182,0.950057,1.000000,1.000000,0.934783,churn
3352,778,0.800024,0.870968,0.913871,0.796875,não churn
3457,2601,0.802780,0.870968,0.913871,0.804878,churn
3496,1735,0.901910,1.000000,1.000000,0.859504,churn
3524,3962,0.806612,0.967742,0.988344,0.800000,não churn
3575,2777,0.805868,0.870968,0.913871,0.805085,churn
3630,2300,0.915027,1.000000,1.000000,0.868421,churn
3679,2021,0.881596,0.983871,0.995712,0.855856,churn
3705,1430,0.942285,1.000000,1.000000,0.889908,churn
3784,2495,0.803846,0.935484,0.968315,0.798077,não churn
3825,1138,0.831295,0.452636,0.352014,0.821782,churn
3836,476,0.811287,0.967742,0.988344,0.820000,não churn
3848,3716,0.808485,0.967742,0.988344,0.808081,não churn
3937,2900,0.809406,1.000000,1.000000,0.734043,churn
4034,672,0.800051,0.870968,0.913871,0.795455,churn
4035,3461,0.800051,0.870968,0.913871,0.795455,não churn
4454,315,0.822404,0.967742,0.988344,0.833333,não churn
4467,3616,0.806780,0.935484,0.968315,0.796610,não churn
4471,2892,0.806780,0.935484,0.968315,0.796610,não churn
4475,758,0.800117,0.870968,0.913871,0.793103,churn

In [20]:
df_merged[df_merged["churnLinear"] <= 0.20]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
73,9307,0.178715,0.003906,0.000576,0.208451,não churn
143,1801,0.179261,0.007813,0.001567,0.207977,não churn
231,9640,0.194574,0.008068,0.001578,0.233429,não churn
274,3260,0.153925,0.035160,0.012154,0.179710,não churn
699,3808,0.192393,0.262097,0.234702,0.217391,não churn
...,...,...,...,...,...,...
4276,4616,0.098174,0.000244,0.000011,0.194444,não churn
4289,2745,0.183409,0.004032,0.000580,0.250000,não churn
4417,1125,0.162698,0.008064,0.001577,0.238095,não churn
4495,124,0.176044,0.004032,0.000580,0.245614,não churn
4497,777,0.188748,0.001099,0.000082,0.263158,não churn

In [23]:
df_merged[(df_merged["churnLinear"] > 0.40) & (df_merged["churnLinear"] < 0.60) ]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
1,576,0.447830,0.419347,0.331906,0.452514,não churn
4,1972,0.427771,0.387099,0.320250,0.430168,não churn
12,2177,0.506668,0.451613,0.351935,0.494413,não churn
15,9635,0.422511,0.285566,0.244713,0.438547,não churn
17,1844,0.471546,0.383191,0.319674,0.477654,não churn
...,...,...,...,...,...,...
4485,1318,0.450614,0.290050,0.245767,0.534483,não churn
4486,3934,0.433152,0.260081,0.234335,0.526316,não churn
4491,3048,0.529341,0.221900,0.128893,0.526316,não churn
4492,906,0.542650,0.389111,0.320464,0.596491,não churn
4499,1573,0.436717,0.388096,0.320329,0.464286,não churn

In [24]:
df_merged[df_merged["churnLinear"] >= 0.90]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
61,459,0.906520,1.000000,1.000000,0.861972,churn
463,2029,0.940870,1.000000,1.000000,0.892216,churn
887,799,0.931801,1.000000,1.000000,0.881410,churn
928,2180,0.913895,1.000000,1.000000,0.867314,churn
1815,1720,0.973256,1.000000,1.000000,0.925581,churn
2039,138,0.903146,0.967742,0.988344,0.881443,não churn
2235,3814,0.919340,1.000000,1.000000,0.870787,churn
2949,869,0.941804,1.000000,1.000000,0.889655,churn
3072,1563,0.963830,1.000000,1.000000,0.914286,churn
3113,182,0.950057,1.000000,1.000000,0.934783,churn
3496,1735,0.901910,1.000000,1.000000,0.859504,churn
3630,2300,0.915027,1.000000,1.000000,0.868421,churn
3705,1430,0.942285,1.000000,1.000000,0.889908,churn

In [27]:
df_merged[df_merged["churnLinear"] <= 0.18]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
73,9307,0.178715,3.906369e-03,5.764195e-04,0.208451,não churn
143,1801,0.179261,7.812738e-03,1.566871e-03,0.207977,não churn
274,3260,0.153925,3.516007e-02,1.215414e-02,0.179710,não churn
1079,3039,0.166459,2.580645e-01,2.341217e-01,0.228477,não churn
1698,3826,0.159595,2.578204e-01,2.341111e-01,0.207048,não churn
1743,2839,0.173959,2.580645e-01,2.341217e-01,0.220721,não churn
1943,5033,0.155050,2.580643e-01,2.341217e-01,0.212871,não churn
2002,10365,0.166385,7.812508e-03,1.566870e-03,0.284264,não churn
2017,7957,0.157050,3.910124e-03,5.764456e-04,0.214286,não churn
2143,9790,0.167615,3.910069e-03,5.764455e-04,0.198925,não churn
2239,3051,0.165111,2.903140e-01,2.457778e-01,0.203390,não churn
2243,8931,0.075795,2.500002e-01,2.325442e-01,0.141243,não churn
2360,4851,0.143547,1.164189e-10,8.104628e-15,0.269006,não churn
2456,718,0.161819,7.820137e-03,1.566941e-03,0.275449,não churn
2469,9422,0.106486,1.220740e-04,3.883884e-06,0.162651,não churn
2472,2062,0.127696,4.032258e-03,5.803296e-04,0.168675,não churn
2568,3917,0.179277,2.580645e-01,2.341217e-01,0.222222,não churn
2587,1461,0.176520,3.528226e-02,1.215802e-02,0.211180,não churn
2672,4342,0.167056,2.580643e-01,2.341217e-01,0.216561,não churn
2679,2116,0.164073,2.441483e-04,1.055749e-05,0.222930,não churn
2686,97,0.144210,1.230550e-07,1.775241e-10,0.185897,não churn
2759,1646,0.168916,1.197088e-02,2.153919e-03,0.176471,não churn
2767,1124,0.159357,2.812502e-01,2.441219e-01,0.230263,não churn
2772,2190,0.143865,1.221896e-04,3.884059e-06,0.245033,não churn
2773,2982,0.162165,1.289102e-01,8.612466e-02,0.225166,não churn
2774,9263,0.157895,4.028320e-03,5.803032e-04,0.225166,não churn
2881,7181,0.096801,7.812500e-03,1.566870e-03,0.142857,não churn
2999,6453,0.177448,2.580645e-01,2.341217e-01,0.195804,não churn
3000,7907,0.172300,3.125002e-01,2.640156e-01,0.223776,não churn
3001,3491,0.169192,2.578204e-01,2.341111e-01,0.195804,não churn
3007,7424,0.173151,2.619631e-01,2.346980e-01,0.183099,não churn
3018,9159,0.172461,1.290323e-01,8.612854e-02,0.225352,não churn
3022,2350,0.165418,3.818543e-06,2.617059e-08,0.290780,não churn
3122,1504,0.176415,2.578204e-01,2.341111e-01,0.202899,não churn
3130,6062,0.163017,2.580643e-01,2.341217e-01,0.211679,não churn
3371,6265,0.151206,1.260081e-04,3.910230e-06,0.173228,não churn
3461,1242,0.172699,2.578204e-01,2.341111e-01,0.235772,não churn
3468,1943,0.179795,2.580645e-01,2.341217e-01,0.213115,não churn
3473,7745,0.155271,7.812738e-03,1.566871e-03,0.262295,não churn
3478,3507,0.148741,1.250001e-01,8.554822e-02,0.196721,não churn
3660,4052,0.140329,8.056648e-03,1.577428e-03,0.196429,não churn
3663,8742,0.174305,7.820372e-03,1.566942e-03,0.250000,não churn
3669,3659,0.150257,1.260043e-04,3.910229e-06,0.207207,não churn
3670,1656,0.163932,1.601602e-01,9.770235e-02,0.198198,não churn
3814,2725,0.161910,3.528225e-02,1.215802e-02,0.207921,não churn
3818,9167,0.140749,1.258851e-04,3.910052e-06,0.237624,não churn
3872,453,0.177077,2.580645e-01,2.341217e-01,0.224490,não churn
3880,10134,0.137597,3.150178e-02,1.158832e-02,0.195876,não churn
3884,2080,0.134441,7.820137e-03,1.566941e-03,0.206186,não churn
3995,291,0.167766,2.578203e-01,2.341111e-01,0.188889,não churn
4205,859,0.159507,2.502444e-01,2.325547e-01,0.220779,não churn
4211,3556,0.175824,1.289102e-01,8.612466e-02,0.220779,não churn
4270,179,0.164754,8.064509e-03,1.577499e-03,0.246575,não churn
4276,4616,0.098174,2.443790e-04,1.055797e-05,0.194444,não churn
4417,1125,0.162698,8.064337e-03,1.577499e-03,0.238095,não churn
4495,124,0.176044,4.032254e-03,5.803296e-04,0.245614,não churn

In [30]:
df_merged[df_merged["churnExponencial_2"] == 1.0]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
61,459,0.906520,1.0,1.0,0.861972,churn
463,2029,0.940870,1.0,1.0,0.892216,churn
887,799,0.931801,1.0,1.0,0.881410,churn
928,2180,0.913895,1.0,1.0,0.867314,churn
1815,1720,0.973256,1.0,1.0,0.925581,churn
2235,3814,0.919340,1.0,1.0,0.870787,churn
2949,869,0.941804,1.0,1.0,0.889655,churn
3072,1563,0.963830,1.0,1.0,0.914286,churn
3113,182,0.950057,1.0,1.0,0.934783,churn

In [34]:
df_merged[df_merged["churnLinear"] > 0.5]

,id,churnLinear,churnExponencial_2,churnExponencial_e,churnRecente,resultado
12,2177,0.506668,0.451613,0.351935,0.494413,não churn
61,459,0.906520,1.000000,1.000000,0.861972,churn
80,1649,0.679414,0.483840,0.363591,0.646893,churn
84,2566,0.796881,0.483871,0.363591,0.796610,churn
114,3960,0.504889,0.451613,0.351935,0.524079,não churn
...,...,...,...,...,...,...
4471,2892,0.806780,0.935484,0.968315,0.796610,não churn
4475,758,0.800117,0.870968,0.913871,0.793103,churn
4489,727,0.796733,0.741935,0.765878,0.807018,churn
4491,3048,0.529341,0.221900,0.128893,0.526316,não churn
4492,906,0.542650,0.389111,0.320464,0.596491,não churn